.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.navigation__listItem {
	display: inline-block;
	flex-basis: 150px;
	background-color: hsl(180, 100%, 50%);
	border-radius: 10px;
	padding: 5px 10px;
}

.navigation__link {
	color: hsl(25, 75%, 47%);
	text-decoration: none;
}

.navigation__link:focus {
	outline: 2px solid currentColor;
}

.navigation__link:visited {
	color: rgb(210, 105, 150);
}

.navigation__link:hover {
	color: hsl(24, 71%, 68%);
}

.navigation__link:active {
	text-decoration: none;
	color: hsl(24, 71%, 80%);
}
