html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}

.body {
	max-width: 1000px;
	margin: auto;
	font-family: "Roboto Slab", sans-serif;
	text-align: justify;
	background-color: rgb(178, 178, 217);
}

